html,
body {
  min-height: 100vh;
  height: auto;
  width: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', 'San Francisco', Helvetica, Arial, sans-serif;
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.inner_container {
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  text-align: center;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  box-shadow: 0 3px 3px 0 rgb(55 65 81 / 70%);
  font-family: proxima-nova, sans-serif;
}

canvas,
#picture {
  height: 640px;
  width: 940px;
  border-radius: 16px;
}

h1 {
  color: #5400ec;
  font-weight: 600;
}

.hero_button_secondary {
  display: inline-block;
  margin: 0 23px 25px auto;
  padding: 16px 24px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 4px;
  background-color: #7733f4;
  box-shadow: 0 3px 3px 0 rgb(55 65 81 / 70%);
  font-family: proxima-nova, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-top: 15px;
}

#picture_canvas,
#prechosen_images_parent {
  display: none;
  border-radius: 16px;
  background-color: rgba(31, 6, 85, 0.26);
  width: 940px;
  margin-top: 20px;
}

#prechosen_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#prechosen_images img {
  width: 100%;
  max-width: 75px;
  height: auto;
  border-radius: 16px;
  margin: 10px;
  cursor: pointer;
  max-height: 75px;
  height: 75px;
}

/* Slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
  border-radius: 16px;
}

/* The slider itself */
.slider {
  border-radius: 16px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #5400ec; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 16px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #5400ec; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 16px;border-radius: 16px;border-radius: 16px;
}

/* footer */
#footer {
  margin-top: auto;
}